h2{
    color: #f1f1f1;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -120px;
    margin-right: -150px;
    padding: 0%;
}
#icon{
    width: 37px ;
    margin-right: 15px;
    
}

.canvas{
    border:solid rgb(190, 190, 190); 
    border-radius: 35px;
    border: hidden;
    width: 300px;
    padding: 18%;
    background-color: rgb(39, 39, 39);
    margin: auto;
    margin-top: 10%;
    padding-top:1px;
    padding-bottom: 45px;


}
body{
background-image: url(711094.jpg);
background-position:center;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}

.button{
    background-color: rgb(56, 55, 55);
    margin-left: 38px;
    border-radius: 5px;
    font-size: 25px;
    color: #f1f1f1;
    border-color: hsl(0, 1%, 17%);
    padding: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button:hover{
    background-color: rgb(114, 49, 29);
}

.label{

color: #f1f1f1;
font-size: 19px;
margin-left: 14%;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-left: 14%;
margin-top: 0px;
font-size: 14px;
border-radius: 7px;
border-width: 4px;
border-color: aliceblue;
align-items: end;
}

p{
    color: rgb(131, 166, 219);
    margin-left: 95px;
    margin-top: -25px;
}
.navbar ul{
list-style-type: none;
padding: 10px;
margin-top: 0px;
background-color: rgb(53, 52, 52);
overflow: hidden;
margin-left: 630px;
border-radius: 11px;
margin-right: 672px;
}
.navbar a{
display: block;
margin-left: 0px;
text-decoration: none;
font-size: 27px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 15px;
color: aliceblue;
text-align: center;
}
.navbar a:hover{
    background-color:rgb(114, 49, 29) ;
    
}
.navbar li{
    
    float: left;
}
h3{
    color: #000000;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 14%;
    
}


